#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 > #backgroundBox {
  position: absolute;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 > #alignmentBox {
  position: relative;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_24 {
  position: absolute;
  width: 1279.9999999999998px;
  height: 700.3488718467975px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: difference;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle {
  position: absolute;
  width: 1280.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 {
  position: absolute;
  width: 1279.9999999999995px;
  min-height: 52.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_5 {
  position: absolute;
  width: 271.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_6 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_7 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_8 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Triangle {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle span#rtr-s-Triangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Triangle_1 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Triangle_2 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 {
  position: absolute;
  width: 46.000000000000455px;
  min-height: 43.999999999999915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_27 {
  position: absolute;
  width: 46.000000000000455px;
  height: 34.87590239160167px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_58 {
  position: absolute;
  width: 46.94529724121094px;
  height: 3.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_59 {
  position: absolute;
  width: 3.0px;
  height: 46.3560905456543px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_60 {
  position: absolute;
  width: 3.0px;
  height: 46.29819869995117px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_61 {
  position: absolute;
  width: 48.521270751953125px;
  height: 3.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_62 {
  position: absolute;
  width: 1279.6390380859375px;
  height: 5.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_28 {
  position: absolute;
  width: 889.1316449682205px;
  height: 572.3158755246383px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 {
  position: absolute;
  width: 356.8414775130906px;
  min-height: 49.319636072569324px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_29 {
  position: absolute;
  width: 349.15092842875606px;
  height: 39.455708858055345px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_30 {
  position: absolute;
  width: 976.5256933113299px;
  height: 56.75989859136416px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_45 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image_26 {
  position: absolute;
  width: 120.00000000000017px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Image {
  position: absolute;
  width: 145.9999999999998px;
  height: 65.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 {
  position: absolute;
  width: 446.99999999999955px;
  min-height: 124.00000000000031px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 {
  position: absolute;
  width: 1279.9999999999995px;
  min-height: 52.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_44 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 4.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_10 {
  position: absolute;
  width: 421.9999999999999px;
  min-height: 114.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Line_46 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input input::-webkit-input-placeholder {
  color: #000000;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input input::-moz-placeholder {
  color: #000000;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input input:-moz-placeholder {
  color: #000000;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input input:-ms-input-placeholder {
  color: #000000;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input {
  position: absolute;
  width: 133.00000000000023px;
  height: 29.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input .valign {
  vertical-align: middle;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_2 {
  position: absolute;
  width: 91.99999999999989px;
  min-height: 16.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 {
  position: absolute;
  width: 153.0px;
  height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_2 .icon {
  top: 5.499999999999972px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_3 {
  position: absolute;
  width: 91.99999999999989px;
  min-height: 16.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 {
  position: absolute;
  width: 153.0px;
  height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_3 .icon {
  top: 5.499999999999972px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_4 {
  position: absolute;
  width: 91.99999999999989px;
  min-height: 16.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 {
  position: absolute;
  width: 153.0px;
  height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_4 .icon {
  top: 5.499999999999972px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_11 {
  position: absolute;
  width: 88.0px;
  min-height: 16.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 {
  position: absolute;
  width: 153.0px;
  height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Input_5 .icon {
  top: 5.499999999999972px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-34e9a8c3-f2b6-482b-a3b7-3159df7db259 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
