#s-64edce9b-8365-46ee-8c88-89881f8696a8 > #backgroundBox {
  position: absolute;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 > #alignmentBox {
  position: relative;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle {
  position: absolute;
  width: 1280.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 {
  position: absolute;
  width: 1279.9999999999995px;
  min-height: 52.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_5 {
  position: absolute;
  width: 271.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_6 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_7 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_8 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Triangle {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle span#rtr-s-Triangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Triangle_1 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Triangle_2 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Line_44 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Line_62 {
  position: absolute;
  width: 1279.6390380859375px;
  height: 5.0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Image_30 {
  position: absolute;
  width: 976.5256933113299px;
  height: 56.75989859136416px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Line_45 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Image_26 {
  position: absolute;
  width: 120.00000000000017px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Image {
  position: absolute;
  width: 145.9999999999998px;
  height: 65.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Image_24 {
  position: absolute;
  width: 1280.0px;
  height: 598.372711246418px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 {
  position: absolute;
  width: 446.9999999999998px;
  min-height: 122.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_21 {
  position: absolute;
  width: 421.9999999999999px;
  min-height: 114.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-64edce9b-8365-46ee-8c88-89881f8696a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
