#s-af2e84a7-7854-402c-b0db-4a35d2c94044 > #backgroundBox {
  position: absolute;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 > #alignmentBox {
  position: relative;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Image_24 {
  position: absolute;
  width: 1280.0px;
  height: 630.2928335668066px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle {
  position: absolute;
  width: 1280.0px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 {
  position: absolute;
  width: 1279.9999999999995px;
  min-height: 52.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_5 {
  position: absolute;
  width: 271.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 {
  position: absolute;
  width: 199.99999999999997px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #0A1421;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_6 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_7 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_8 {
  position: absolute;
  width: 189.00000000000003px;
  min-height: 30.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Maven Pro',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Maven Pro',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Triangle {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle span#rtr-s-Triangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Triangle_1 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 {
  position: absolute;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Triangle_2 {
  width: 20.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_25 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_26 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_27 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_28 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_29 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_30 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 2.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_31 {
  position: absolute;
  width: 2.0px;
  height: 603.8248291015625px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_32 {
  position: absolute;
  width: 2.0px;
  height: 604.972412109375px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_33 {
  position: absolute;
  width: 2.0px;
  height: 606.092041015625px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_34 {
  position: absolute;
  width: 2.0px;
  height: 605.76513671875px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_35 {
  position: absolute;
  width: 2.0px;
  height: 605.76513671875px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_36 {
  position: absolute;
  width: 2.0px;
  height: 606.0256958007812px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_37 {
  position: absolute;
  width: 2.0px;
  height: 606.3905029296875px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_38 {
  position: absolute;
  width: 2.0px;
  height: 603.8700561523438px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_39 {
  position: absolute;
  width: 2.0px;
  height: 603.5431518554688px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_40 {
  position: absolute;
  width: 2.0px;
  height: 603.8700561523438px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_41 {
  position: absolute;
  width: 2.0px;
  height: 603.5431518554688px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_42 {
  position: absolute;
  width: 2.0px;
  height: 603.5431518554688px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_43 {
  position: absolute;
  width: 2.0px;
  height: 603.8700561523438px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_44 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_45 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_45 {
  position: absolute;
  width: 32.38566989693044px;
  height: 10.0px;
  -webkit-transform: rotate(-51.755027948914105deg);
  -moz-transform: rotate(-51.755027948914105deg);
  transform: rotate(-51.755027948914105deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_45 {
  width: 32.38566989693044px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_46 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_46 {
  position: absolute;
  width: 45.416741666267185px;
  height: 10.0px;
  -webkit-transform: rotate(-39.4418019158474deg);
  -moz-transform: rotate(-39.4418019158474deg);
  transform: rotate(-39.4418019158474deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_46 {
  width: 45.416741666267185px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_47 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_47 {
  position: absolute;
  width: 42.87233472913601px;
  height: 10.0px;
  -webkit-transform: rotate(-25.85128283828499deg);
  -moz-transform: rotate(-25.85128283828499deg);
  transform: rotate(-25.85128283828499deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_47 {
  width: 42.87233472913601px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_48 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_48 {
  position: absolute;
  width: 37.495169697012905px;
  height: 10.0px;
  -webkit-transform: rotate(-34.984470071914444deg);
  -moz-transform: rotate(-34.984470071914444deg);
  transform: rotate(-34.984470071914444deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_48 {
  width: 37.495169697012905px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_49 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_49 {
  position: absolute;
  width: 37.63120202806887px;
  height: 10.0px;
  -webkit-transform: rotate(-44.58241711061614deg);
  -moz-transform: rotate(-44.58241711061614deg);
  transform: rotate(-44.58241711061614deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_49 {
  width: 37.63120202806887px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_50 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_50 {
  position: absolute;
  width: 42.02447572442068px;
  height: 10.0px;
  -webkit-transform: rotate(-51.90726275512254deg);
  -moz-transform: rotate(-51.90726275512254deg);
  transform: rotate(-51.90726275512254deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_50 {
  width: 42.02447572442068px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_51 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_51 {
  position: absolute;
  width: 39.65060784200513px;
  height: 10.0px;
  -webkit-transform: rotate(-56.780854680920406deg);
  -moz-transform: rotate(-56.780854680920406deg);
  transform: rotate(-56.780854680920406deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_51 {
  width: 39.65060784200513px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_52 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_52 {
  position: absolute;
  width: 36.0px;
  height: 10.0px;
  -webkit-transform: rotate(-67.01128319791937deg);
  -moz-transform: rotate(-67.01128319791937deg);
  transform: rotate(-67.01128319791937deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_52 {
  width: 36.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_53 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_53 {
  position: absolute;
  width: 36.52554086602678px;
  height: 10.0px;
  -webkit-transform: rotate(-75.1007632113425deg);
  -moz-transform: rotate(-75.1007632113425deg);
  transform: rotate(-75.1007632113425deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_53 {
  width: 36.52554086602678px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_54 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_54 {
  position: absolute;
  width: 36.76036093024396px;
  height: 10.0px;
  -webkit-transform: rotate(-87.04834076661224deg);
  -moz-transform: rotate(-87.04834076661224deg);
  transform: rotate(-87.04834076661224deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_54 {
  width: 36.76036093024396px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_55 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_55 {
  position: absolute;
  width: 37.40468040473548px;
  height: 10.0px;
  -webkit-transform: rotate(-98.4780744630476deg);
  -moz-transform: rotate(-98.4780744630476deg);
  transform: rotate(-98.4780744630476deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_55 {
  width: 37.40468040473548px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_56 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_56 {
  position: absolute;
  width: 35.96262205836486px;
  height: 10.0px;
  -webkit-transform: rotate(-110.27386017736058deg);
  -moz-transform: rotate(-110.27386017736058deg);
  transform: rotate(-110.27386017736058deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_56 {
  width: 35.96262205836486px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_57 marker {
  fill: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_57 {
  position: absolute;
  width: 36.83107707002424px;
  height: 10.0px;
  -webkit-transform: rotate(-119.41499646383546deg);
  -moz-transform: rotate(-119.41499646383546deg);
  transform: rotate(-119.41499646383546deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_57 {
  width: 36.83107707002424px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FF1919;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_12 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 32.38566989693044px;
  height: 10.0px;
  -webkit-transform: rotate(-51.755027948914105deg);
  -moz-transform: rotate(-51.755027948914105deg);
  transform: rotate(-51.755027948914105deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_12 {
  width: 32.38566989693044px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_13 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_13 {
  position: absolute;
  width: 37.0px;
  height: 10.0px;
  -webkit-transform: rotate(-32.82854179141253deg);
  -moz-transform: rotate(-32.82854179141253deg);
  transform: rotate(-32.82854179141253deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_13 {
  width: 37.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_14 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_14 {
  position: absolute;
  width: 35.0px;
  height: 10.0px;
  -webkit-transform: rotate(-25.114834886144564deg);
  -moz-transform: rotate(-25.114834886144564deg);
  transform: rotate(-25.114834886144564deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_14 {
  width: 35.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_15 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_15 {
  position: absolute;
  width: 35.16548584381556px;
  height: 10.0px;
  -webkit-transform: rotate(-18.274991491507997deg);
  -moz-transform: rotate(-18.274991491507997deg);
  transform: rotate(-18.274991491507997deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_15 {
  width: 35.16548584381556px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_16 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_16 {
  position: absolute;
  width: 35.60262334053764px;
  height: 10.0px;
  -webkit-transform: rotate(-9.304990514014014deg);
  -moz-transform: rotate(-9.304990514014014deg);
  transform: rotate(-9.304990514014014deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_16 {
  width: 35.60262334053764px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_17 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_17 {
  position: absolute;
  width: 35.680534413507104px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_17 {
  width: 35.680534413507104px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_18 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 35.680534413507104px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_18 {
  width: 35.680534413507104px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_19 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_19 {
  position: absolute;
  width: 35.680534413507104px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_19 {
  width: 35.680534413507104px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_20 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_20 {
  position: absolute;
  width: 38.155244379868776px;
  height: 10.0px;
  -webkit-transform: rotate(8.972626614896392deg);
  -moz-transform: rotate(8.972626614896392deg);
  transform: rotate(8.972626614896392deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_20 {
  width: 38.155244379868776px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_21 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_21 {
  position: absolute;
  width: 39.0px;
  height: 10.0px;
  -webkit-transform: rotate(11.888658039627975deg);
  -moz-transform: rotate(11.888658039627975deg);
  transform: rotate(11.888658039627975deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_21 {
  width: 39.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_22 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_22 {
  position: absolute;
  width: 38.0px;
  height: 10.0px;
  -webkit-transform: rotate(18.43494882292201deg);
  -moz-transform: rotate(18.43494882292201deg);
  transform: rotate(18.43494882292201deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_22 {
  width: 38.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_23 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_23 {
  position: absolute;
  width: 37.0px;
  height: 10.0px;
  -webkit-transform: rotate(27.25532837494307deg);
  -moz-transform: rotate(27.25532837494307deg);
  transform: rotate(27.25532837494307deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_23 {
  width: 37.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_24 marker {
  fill: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_24 {
  position: absolute;
  width: 37.0px;
  height: 10.0px;
  -webkit-transform: rotate(27.25532837494307deg);
  -moz-transform: rotate(27.25532837494307deg);
  transform: rotate(27.25532837494307deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_24 {
  width: 37.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFF700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line {
  position: absolute;
  width: 35.4769251072607px;
  height: 10.0px;
  -webkit-transform: rotate(-73.45419601855691deg);
  -moz-transform: rotate(-73.45419601855691deg);
  transform: rotate(-73.45419601855691deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line {
  width: 35.4769251072607px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_1 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 39.45702545682032px;
  height: 10.0px;
  -webkit-transform: rotate(-90.35679651477858deg);
  -moz-transform: rotate(-90.35679651477858deg);
  transform: rotate(-90.35679651477858deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_1 {
  width: 39.45702545682032px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_2 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 40.764468734483486px;
  height: 10.0px;
  -webkit-transform: rotate(-104.71763231378404deg);
  -moz-transform: rotate(-104.71763231378404deg);
  transform: rotate(-104.71763231378404deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_2 {
  width: 40.764468734483486px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_3 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 40.0px;
  height: 10.0px;
  -webkit-transform: rotate(-118.49563861824498deg);
  -moz-transform: rotate(-118.49563861824498deg);
  transform: rotate(-118.49563861824498deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_3 {
  width: 40.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_4 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 38.0px;
  height: 10.0px;
  -webkit-transform: rotate(-142.5238204386386deg);
  -moz-transform: rotate(-142.5238204386386deg);
  transform: rotate(-142.5238204386386deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_4 {
  width: 38.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_5 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 39.0px;
  height: 10.0px;
  -webkit-transform: rotate(-106.55707137563665deg);
  -moz-transform: rotate(-106.55707137563665deg);
  transform: rotate(-106.55707137563665deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_5 {
  width: 39.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_6 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 38.0px;
  height: 10.0px;
  -webkit-transform: rotate(-90.0deg);
  -moz-transform: rotate(-90.0deg);
  transform: rotate(-90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_6 {
  width: 38.0px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_7 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 37.56300148625892px;
  height: 10.0px;
  -webkit-transform: rotate(-65.04610120865338deg);
  -moz-transform: rotate(-65.04610120865338deg);
  transform: rotate(-65.04610120865338deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_7 {
  width: 37.56300148625892px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_8 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_8 {
  position: absolute;
  width: 35.416828635743066px;
  height: 10.0px;
  -webkit-transform: rotate(-47.79647174028157deg);
  -moz-transform: rotate(-47.79647174028157deg);
  transform: rotate(-47.79647174028157deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_8 {
  width: 35.416828635743066px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_9 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_9 {
  position: absolute;
  width: 42.25405309446959px;
  height: 10.0px;
  -webkit-transform: rotate(-25.135125020487777deg);
  -moz-transform: rotate(-25.135125020487777deg);
  transform: rotate(-25.135125020487777deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_9 {
  width: 42.25405309446959px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_10 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_10 {
  position: absolute;
  width: 37.51973019222691px;
  height: 10.0px;
  -webkit-transform: rotate(-56.0710750893195deg);
  -moz-transform: rotate(-56.0710750893195deg);
  transform: rotate(-56.0710750893195deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_10 {
  width: 37.51973019222691px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_11 marker {
  fill: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 39.62325182827543px;
  height: 10.0px;
  -webkit-transform: rotate(-49.60899488078499deg);
  -moz-transform: rotate(-49.60899488078499deg);
  transform: rotate(-49.60899488078499deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_11 {
  width: 39.62325182827543px;
  height: 10.0px;
  stroke-width: 2.0px;
  stroke: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 {
  position: absolute;
  width: 46.000000000000455px;
  min-height: 43.999999999999915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Image_27 {
  position: absolute;
  width: 46.000000000000455px;
  height: 34.87590239160167px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_58 {
  position: absolute;
  width: 46.94529724121094px;
  height: 3.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_59 {
  position: absolute;
  width: 3.0px;
  height: 46.3560905456543px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_60 {
  position: absolute;
  width: 3.0px;
  height: 46.29819869995117px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_61 {
  position: absolute;
  width: 48.521270751953125px;
  height: 3.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_62 {
  position: absolute;
  width: 1279.6390380859375px;
  height: 5.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Image_30 {
  position: absolute;
  width: 976.52569331133px;
  height: 56.75989859136416px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Line_63 {
  position: absolute;
  width: 1281.5328369140625px;
  height: 5.0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Image_26 {
  position: absolute;
  width: 120.00000000000017px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Image {
  position: absolute;
  width: 145.9999999999998px;
  height: 65.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 {
  position: absolute;
  width: 446.9999999999998px;
  min-height: 151.00000000000028px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_10 {
  position: absolute;
  width: 421.9999999999999px;
  min-height: 114.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_11 {
  position: absolute;
  width: 88.0px;
  min-height: 16.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 {
  position: absolute;
  width: 153.0px;
  height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Input_5 .icon {
  top: 5.499999999999972px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-af2e84a7-7854-402c-b0db-4a35d2c94044 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
