@font-face {
  font-family: "Maven Pro";
  src: url("") format("embedded-opentype"),
       url("../fonts/Maven_Pro-Bold.ttf")  format("truetype"),
       url("../fonts/Maven_Pro-Bold.otf") format("opentype");
   font-weight : 700;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Maven Pro";
  src: url("") format("embedded-opentype"),
       url("../fonts/Maven_Pro-ExtraBold.ttf")  format("truetype"),
       url("../fonts/Maven_Pro-ExtraBold.otf") format("opentype");
   font-weight : 800;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Maven Pro";
  src: url("") format("embedded-opentype"),
       url("../fonts/Maven_Pro-Medium.ttf")  format("truetype"),
       url("../fonts/Maven_Pro-Medium.otf") format("opentype");
   font-weight : 500;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Maven Pro";
  src: url("") format("embedded-opentype"),
       url("../fonts/Maven_Pro-Regular.ttf")  format("truetype"),
       url("../fonts/Maven_Pro-Regular.otf") format("opentype");
   font-weight : 400;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Maven Pro";
  src: url("") format("embedded-opentype"),
       url("../fonts/Maven_Pro-SemiBold.ttf")  format("truetype"),
       url("../fonts/Maven_Pro-SemiBold.otf") format("opentype");
   font-weight : 600;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("") format("embedded-opentype"),
       url("../fonts/Open_Sans-Regular.ttf")  format("truetype"),
       url("../fonts/Open_Sans-Regular.otf") format("opentype");
   font-weight : 400;
 
   
     font-style : normal;
}