<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Route map in mapbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    {{ collection|json_script:"collection" }} {{ type|json_script:"type" }}

    <script>
      data = JSON.parse(document.getElementById("collection").textContent);
      mapboxgl.accessToken =
        "pk.eyJ1IjoibWFsLXdvb2QiLCJhIjoiY2oyZ2t2em50MDAyMzJ3cnltMDFhb2NzdiJ9.X-D4Wvo5E5QxeP7K_I3O8w";
      /*
			const map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v11',
				zoom: 15
			});
		 */
      const map = new mapboxgl.Map({
        container: "map", // container ID
        style: "mapbox://styles/mapbox/dark-v10", // style URL
        center: [-0.4801385175102711, 38.32622186697402],
        zoom: 5, // starting zoom
      });

      map.on("load", () => {
        // Add a data source containing GeoJSON data.
        map.addSource("maine", {
          type: "geojson",
          data: data,
          //	'data': "{% static 'webgisapp/stateData.geojson' %}",
        });

        // Add a new layer to visualize the polygon.
        map.addLayer({
          id: "maine",
          type: "fill",
          source: "maine", // reference the data source
          layout: {},
          paint: {
            "fill-opacity": 0.7,
            "fill-color": {
              property: "weight",
              stops: [
                [0, "rgba(236,222,239,0)"],
                [10, "#DEF1F7"],
                [20, "#CDEAF4"],
                [30, "#9AD4EA"],
                [40, "#6DC2E0"],
                [50, "#46B1D8"],
                [60, "#207897"],
              ],
            },
          },
        });
        // Add a black outline around the polygon.
        //	map.addLayer({
        //		'id': 'outline',
        //		'type': 'line',
        //		'source': 'maine',
        //		'layout': {},
        //		'paint': {
        //		'line-color': '#ffffff',
        //		'line-width': 1
        //	}
        //	});
      });
    </script>
  </body>
</html>
