<!DOCTYPE html>
<html lang="es">
	<!-- {% load static %} -->
  <head>
    <meta charset="utf-8" />
    <title>Heat map in mapbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
		<p>
		</p>
		<script>
		{% for vessel in ais %}
			console.log(1);
			console.log({{vessel.MMSI.MMSI}});
		{% endfor %}
			console.log("prueba");
		</script>
  </body>
</html>


