<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Search of data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script> -->
    <!-- <link -->
    <!--   href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" -->
    <!--   rel="stylesheet" -->
    <!-- /> -->
    <style>
    </style>
  </head>
  <body>
    <div class="search">
			<input type="text"
						 placeholder=" Search pez"
						 name="fish_search">
			<input type="text"
						 placeholder=" Search talla"
						 name="talla_search">
			<input type="text"
						 placeholder=" Search Date"
						 name="date_day_search">
			<input type="text"
						 placeholder=" Search MMSI"
						 name="mmsi_search">
			<button>
				<i class="fa fa-search"
					 style="font-size: 18px;">
				</i>
			</button>
			<!-- <form action="/action_page.php"> -->
			<!-- 	<input type="checkbox" id="fish" name="fish" value="Fish"> -->
			<!-- 	<label for="fish"> Pez</label><br> -->
			<!-- 	<input type="checkbox" id="talla" name="talla" value="Car"> -->
			<!-- 	<label for="talla"> Talla</label><br> -->
			<!-- 	<input type="checkbox" id="date" name="date" value="Boat"> -->
			<!-- 	<label for="date"> Date</label><br><br> -->
			<!-- 	<input type="submit" value="Submit"> -->
			<!-- 	<input type="checkbox" id="mmsi" name="mmsi" value="Bike"> -->
			<!-- 	<label for="mmsi"> MMSI</label><br> -->
			<!-- </form> -->
		</div>
  </body>
</html>

